@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text {
  font-family: 'Quicksand', sans-serif;
}

.text-med {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}


.bold {
  font-family: 'Bungee', cursive;
  line-height: 5.2rem;
}

@media all and (max-width: 62rem) {
  .bold {
    line-height:initial;
  }
}
