.links {
    text-align: center;
    margin: auto;
}

.logo {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo p{
    vertical-align: middle;
    position: relative; 
}

.discord {
    text-align: right;
    margin: auto;
}

.nav {
    padding: .5rem;
    font-size: 1.12rem;
}